* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 0 5vh;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  font-size: 2rem;
  padding: 20px 40px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: black;
}

.grid {
  width: 760px;
  height: 600px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: 50px 100px 100px 100px 100px;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.weekDay {
  font-weight: bold;
  font-size: 1.1rem;
}

.day {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid rgb(234, 234, 234);
  font-size: 1rem;
}

.day:nth-last-child(-n+31) {
  background-color: rgb(234, 234, 234);
}