﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.header {
  height: 60vh;
  background-image: url("../img/header-bg.jpg");
  background-size: 120%;
  background-position-y: -200px;  
}

.fix {
  height: 722.5px;
}

.img-bottom {
  left: -20px;
  top: 180px;
  z-index: 0;
}

.img-top {
  height: 350px;
  width: 350px;
  z-index: 1;
}

.bg-black {
  background-color: black;
}

.form .form-control {
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.footer {
  background-image: url("../img/footer-bg.jpg");
}

.icon {
  width: 30px;
  height: 25px;
}

.line {
  height: 3px;
  border: none;
}

.line-long {
  width: 100px;
}

.line-med {
  width: 50px;
}

.line-sm {
  width: 30px;
}

.colored {
  height: 40px;
  background-image: url("../img/touch-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

html:not([data-scroll='0']) .navigation {
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  background-image: url("../img/header-bg.jpg");
}