body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: rgb(244, 244, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 25px auto;
  max-width: 1140px;
}

.tm-section {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  background-color: #ffffff;
}

.tm-section:nth-child(1):hover .tm-block:nth-child(2)::before,
.tm-section:nth-child(2):hover .tm-block:nth-child(1)::before, 
.tm-section:nth-child(3):hover .tm-block:nth-child(2)::before {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  border-style: solid;
}

.tm-section:nth-child(1):hover .tm-block:nth-child(2)::before,
.tm-section:nth-child(3):hover .tm-block:nth-child(2)::before {
  right: 0;
  border-width: 0 70px 70px 0;
  border-color: transparent #76cdd8 transparent transparent;
}

.tm-section:nth-child(2):hover .tm-block:nth-child(1)::before {
  left: 0;
  border-width: 70px 70px 0 0;
  border-color: #76cdd8 transparent transparent transparent;
}

.tm-section:nth-child(1):hover .tm-block:nth-child(2),
.tm-section:nth-child(2):hover .tm-block:nth-child(1),
.tm-section:nth-child(3):hover .tm-block:nth-child(2) {
  color: #76cdd8;
}

.tm-block {
  width: 50%;
  position: relative;
}

.tm-bg-primary {
  background-color: #76cdd8
}

.tm-item {
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-h1 {
  font-size: 4rem;
  font-weight: normal;
  color: #FFF;
}

.tm-h2 {
  margin-bottom: 1.5rem;
  color: #76cdd8;
  font-weight: normal;
}

.tm-h2-black {
  color: black;
  font-weight: normal;
}

.column {
  flex-direction: column;
}

.btn {
  text-transform: uppercase;
  padding: 12px 47px;
  font-size: 1.15rem;
  background-color: #019999;
  border-color: #019999;
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(118, 205, 216);
}

.al-right {
  align-self: flex-end;
}

.al-left {
  align-self: flex-start;
}

.al-center {
  align-self: center;
}

.img-rounded {
  height: 300px;
  width: 300px;
  margin-bottom: 40px;
  background-image: url(../img/image-04.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.clr-white {
  font-weight: 300;
  font-size: 80%;
  color: #FFF;
}

.tm-quote {
  font-size: 1.35rem;
  padding-left: 20px;
  font-style: italic;
  line-height: 1.8;
}

.p-0 {
  padding: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.tm-block-big {
  width: 70%;
}

.tm-block-sm {
  width: 30%;
}

.img {
  width: 100%;
  height: 100%;
}

.img-hover:hover {
  transform: scale(1.1);
}

.tm-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 340px;
  justify-content: center;
  align-items: center;
  border: 1px solid #019999;
}

.card:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.card:hover .btn {
  background: #24d4d4;
}

.tm-pricing-discount {
  display: none;
  text-align: center;
}

.card:hover .tm-pricing-discount {
  display: block;
}

.card:hover .tm-pricing-discount__star  {
  color: #ff3c32;
}

.card:hover .tm-pricing-discount__text {
  color:  #24d4d4;
}

.card-header {
  padding: 20px;
  background-color: #019999;
  color: #FFF;
  text-align: center;
  font-weight: 300;
}

.card-list {
  margin: 0;
  line-height: 2.4;
  padding: 35px 50px;
  list-style: none;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.mb-20 {
  margin-bottom: 20px;
}

.h3 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8;
}

.tm-section-form {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.form-head {
  width: 100%;
  padding: 40px 40px 90px;
  background-color: #23d4d4;
}

.form-head-h2 {
  max-width: 880px;
  margin: 0 auto;
  color: #FFF;
  font-weight: normal;
}

.form-block {
  margin: -60px auto -60px auto;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 1;
}

.form {
  max-width: 880px;
  padding: 68px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
}

.form-info {
  width: 50%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.form-group {
  margin-bottom: 1rem;
}

.input {
  color: #666;
  font-size: 1.2rem;
  padding: 12px 20px;
  border-radius: 0;
  display: block;
  width: 100%;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.form-textarea {
  width: 100%;
}

.textarea {
  height: 205px;
  width: 100%;
  padding: 12px 20px;
  color: #666;
  border: 1px solid #ced4da;
  font-size: 1.2rem;
  border-radius: 0;
}

.textarea:focus,
.input:focus {
  border-color: #24d4d4; 
  box-shadow: 0 0 0 0.2rem #24d4d4;
  outline: none;
}

.form-btn {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.button {
  border: 1px solid #019999;
}

.button:hover {
  background-color: rgb(118, 205, 216);
}

.h4 {
  margin-bottom: .5rem;
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.5rem;
}

.address {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: inherit;
}

.tm-form-footer {
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #019999;
  color: white;
}

.link {
  text-decoration: none;
}

.footer-right {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.8;
  font-weight: 300;
}

.tm-descr {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.8;
}

.tm-form-footer-block {
  margin: 0 auto;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer {
  padding-top: 20px;
  text-align: center;
}