body {
  padding: 0;
  margin: 0;
}

.block-Warnings {
  max-width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-weight: bold;
}

.flex .li {
  padding-right: 20px;
  cursor: pointer;
}