body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  max-width: 200px;
  margin: 20px auto;
  display: flex;
  list-style: none;
}

.flex .li {
  font-weight: bold;
}

.flex .li:nth-child(2) {
  padding-left: 20px;
}

.table {
  width: 600px;
  height: 600px;
  margin: 20px auto;
}

.td {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 56px;
}

.td:hover {
  background-color: gray;
  cursor: pointer;
}

.td:nth-child(1) {
  border-right: 1px solid black;
}

.row:nth-child(1) td {
  border-bottom: 1px solid black;
}

.row:nth-child(2) td {
  border-bottom: 1px solid black;
}

.td:nth-child(2) {
  border-right: 1px solid black;
}
